* {
  overflow: hidden;
}
body {
  text-align: center;
  background: #000000;
}

.heart {
  font-size: 150px;
  color: #e00;
  animation: beat 0.25s infinite alternate;
  transform-origin: center;
}

@keyframes beat {
  to {
    transform: scale(1.4);
  }
}
